@import '../../scss/variables/variables';

.number-input {
  display: flex;
  gap: 20px;
  @media (min-width: $tabletBreakpoint) {
    gap: 8px;
  }
}
.number-input__input {
  width: 100%;
  text-align: center;
  @media (min-width: $tabletBreakpoint) {
    width: 64px;
  }
}
