/* Box sizing reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Margin and padding reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Normalize list styles, Margin and padding reset */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Reset hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset heading margins */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Reset paragraph margins */
p {
  margin: 0;
}

/* Reset form elements */
input, textarea, button, select {
  font: inherit;
  margin: 0;
  outline: none;
}

/* Normalize image */
img {
  display: inline-block; 
  max-width: 100%; 
  height: auto; 
  border-style: none; 
  vertical-align: middle; 
}

/* Reset button styles */
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

/* Hide input number arrows */
input[type=number] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}
